asgiref==3.8.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
coverage==7.6.8
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.1
django-environ==0.11.2
filelock==3.16.1
h11==0.14.0
identify==2.6.3
iniconfig==2.0.0
nodeenv==1.9.1
packaging==24.2
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
psycopg2==2.9.10
pytest==8.3.3
pytest-django==4.9.0
PyYAML==6.0.2
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
uvicorn==0.32.1
virtualenv==20.28.0
whitenoise==6.8.2
