
{% extends "base.html" %}
{% load static %}
{% block title %}Accueil{% endblock title %}
{% block content %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src=" {% static 'assets/img/dems.jpg' %}" alt="" data-aos="fade-in">

      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h2>Ibrahima Diallo</h2>
        <p>Je suis <span class="typed" data-typed-items="Developpeur Backend avec Django"></span><span class="typed-cursor typed-cursor--blink"></span></p>
        <div class="social-links">
              {% for reseau in reseaux %}
              <a href="{{ reseau.url }}">
                <i
                  class="bi bi-{{ reseau.name|lower }}{% if reseau.name == 'x' or reseau.name == 'twitter' %}-x{% endif %}"></i>
              </a>
              {% endfor %}
            </div>
      </div>

    </section><!-- /Hero Section -->

  </main>
{% endblock content %}
  
